<h1> Welcome to the Barbershop! </h1>

<p>Hire a stylist:</p>

<form action="/newstylist" method="post">
  <label for="stylist">Stylist:</label>
  <input id="stylist" name="stylist" type="text">

  <button type="submit" class="btn btn-default">Add stylist</button>
</form>

<br>
<h3> Stylist list:</h3>

<ul>
  #foreach($stylist in $stylists)
    <li><a href="/stylist_detail/$stylist.getId()">$stylist.getName()</a></li>
  #end
</ul>
