<h1>$stylist.getName()</h1>


<h3> Their client list:</h3>
<ol>
#foreach ($client in $clients)
<li>$client.getName()</li>
#end
</ol>


<p>Add a new client:</p>

<form action="/assignclient/" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">

  <label for="client">Client name:</label>
  <input id="client" name="client" type="text">

  <button type="submit" class="btn btn-default">Add client</button>
</form>

<br>

<a href="/">Back to home!</a>
